$color-white: rgb(255, 255, 255);
$color-grey-light: #fdf7f7;
$color-grey-average: #D7D9DC;
$color-grey-dark: #747883;
$color-blue: #3697E2;
$color-green: #46AC44;
$color-red: #EC2A1D;
$weight-500: 500;
$weight-600: 600;
$weight-400: 400;
$max-percent: 100%;
$radius: 5px;
$border-grey: 1px solid  $color-grey-average;
$border-white: 1px solid $color-white;
$border-grey-light: 1px solid $color-grey-light;
$border-blue: 1px solid $color-blue;